*{
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #ffffff;
    padding: 50px;
    max-width: 430px;
    border-radius: 10px;
    background: #09b1db;
}

body {
    background-color: #09b1db;
    overflow: hidden;
}


.container h1 {
    text-align: center;
    color: #ffffff;
}

.container input {
    width: 75%;
    padding: 13px;
    margin-top: 20px;
    border-radius: 20px;
    outline: none;
    border: 0;
    background-color: #ffffff;
    color: #414141;
    text-transform: capitalize;
    box-shadow: 4px 4px;
}

.container button {
    padding: 9px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 25px;
    outline: none;
    border: 0;
    float:right;
    transition: 0.3s ease;
    width: 15%;
    background: #ffffff;
    color: #000000;
    box-shadow: 4px 4px;
    cursor: pointer;

}

i {
    font-size: 20px;
}

.container div {
    background: #ffffff;
    margin-top: 30px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

p {
    background: #ffffff;
    box-shadow: 5px 5px 5px #ddd;
    border-radius: 5px;
    margin-top: 7px;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 15px;
}

h5 {
    text-align: center;
    color: #ffffff;
}

.descricao {
    color: #4b4848;
    font-weight: 600;
    margin-bottom: 10px;
}

a{
    color: #09b1db;
    font-size: 20px;
}

i {
    font-size: 20px;
}

.bi-arrow-left-circle-fill{
    font-size: 45px;
}


@media (max-width: 768px) {
    
.container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #ffffff;
    padding:50px;
    max-width: 330px;
    border-radius: 20px;
    background: #09b1db;
    border: none;
}

body {
    background-color: #09b1db;
    overflow: hidden;
}


.container h1 {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 15px;
}

.container input {
    width: 73%;
    padding: 13px;
    margin-top: 20px;
    border-radius: 20px;
    outline: none;
    border: 0;
    background-color: #ffffff;
    color: #414141;
    text-transform: capitalize;
    box-shadow: 4px 4px;
}

.container button {
    padding: 9px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 25px;
    outline: none;
    border: 0;
    float:right;
    transition: 0.3s ease;
    width: 15%;
    background: #ffffff;
    color: #000000;
    box-shadow: 4px 4px;
    cursor: pointer;

}

i {
    font-size: 20px;
}

.container div {
    background: #ffffff;
    margin-top: 30px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

p {
    background: #ffffff;
    border-radius: 5px;
    margin-top: 7px;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 15px;
    box-shadow: 4px 4px;
}

h5 {
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 10px;
}

.descricao {
    color: #4b4848;
    font-weight: 600;
    margin-bottom: 10px;
}

a{
    color: #09b1db;
    font-size: 20px;
}

i {
    font-size: 20px;
}

.bi-arrow-left-circle-fill{
    font-size: 35px;
}

}