@media (max-width:768px) {
    .container{
    width: 100%;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
    max-width: 550px;
    max-height: 700px;
    padding: 50px;
    border: none;
    padding: 50px 30px;
    border-radius: 20px;
}

body {
    background: #09b1db;
}

    .container h2 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 1.7em;
}

.container input[type="text"] {
    width: 80%;
    padding: 13px;
    border-radius: 20px;
    outline: none;
    margin-bottom: 4px;
    border: 0;
    background-color: #ffffff;
    color: #000;

}

.container input[type="text"]::placeholder{
    color: #202020;
    font-size: 16px;

}

.dados {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #09b1db;
    padding: 35px;
    color: #fff;
    font-style: italic;
    text-transform: capitalize;
    text-align: start;
    padding: 50px 30px;
    
}


.container button { 
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    outline: none;
    border: 0;
    float:right;
    transition: 0.3s ease;
    width: 18%;
    margin-right: auto;
    background: #ffffff;
    color: #000;
}

.container button:hover{
    cursor: pointer;
}

i{
    font-size: 18px;
}

p{
    color: #ffffff;
    margin-bottom: 5px;
    font-style: italic;
}

h5 {
    color: #ffffff;
    margin-top: -30px;
}

.cidade {
    color: rgb(255, 255, 255);
    font-size: 2.1rem;
}

.graus{
    font-size: 16px;
    font-style: italic;
    color: rgb(0, 0, 0);
}

.p-universal {
    width: 80vw;
    background: #ffffff;
    padding:15px 0px 15px;
    border-radius: 20px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
}

.sub-p {
    font-size: 13px;
    color: #ffffff;
}

.sensacao {
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.umidade {
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.tempo {
    font-size: 1px;
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
}

.container #sol {
    color: #ffffff;
    font-size: 25px;
}



}