@media (max-width:768px) {
    .container{
    width: 100%;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
    max-width: 550px;
    padding: 70px;
    border-radius: 10px;
    border: 2px solid #ddd;
    padding: 50px 5%;
}

    .container h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 28px;
}

.container input[type="text"] {
    width: 80%;
    padding: 13px;
    border-radius: 20px;
    outline: none;
    margin-bottom: 5px;
    border: 0;
    background-color: #ffffff;

}

.container input[type="text"]::placeholder{
    color: #5c5c5c;
    font-size: 16px;

}

.dados {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#f7f7f7;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
    font-style: italic;
    text-transform: capitalize;
    text-align: start;
}

.container button { 
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    outline: none;
    border: 0;
    float:right;
    transition: 0.3s ease;
    width: 18%;
    margin-right: auto;
}

.container button:hover{
    cursor: pointer;
}

i{
    font-size: 18px;
}

}