@media (max-width:768px) {
    .container{
    width: 100%;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
    max-width: 550px;
    max-height: 700px;
    padding: 50px;
    border: none;
    padding: 50px 30px;
    border-radius: 20px;
}

body {
    background: #09b1db;
}

    .container h2 {
    text-align: center;
    margin-top:5px;
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 1.8em;
}

.container input[type="text"] {
    width: 78%;
    padding: 13px;
    border-radius: 20px;
    outline: none;
    margin-bottom: auto;
    border: 0;
    background-color: #ffffff;
    color: #000;
    box-shadow: 4px 4px;


}

.container input[type="text"]::placeholder{
    color: #5e5e5e;
    font-size: 16px;

}

.dados {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #09b1db;
    padding: 35px;
    color: #fff;
    font-style: italic;
    text-transform: capitalize;
    text-align: start;
    padding: 50px 30px;
    
}

.informacoes {
    width: 90vw;
    height: 150px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.container button { 
    padding: 11px;
    margin-bottom: 15px;
    border-radius: 20px;
    outline: none;
    border: 0;
    float:right;
    transition: 0.3s ease;
    width: 18%;
    margin-left: 4px;
    background: #ffffff;
    color: #000;
    box-shadow: 5px;
}

.container button:hover{
    cursor: pointer;
}

i{
    font-size: 18px;
}

p{
    color: #ffffff;
    margin-bottom: 5px;
    font-weight: 600;
    font-style: italic;
}

.container h5 {
    color: #ffffff;
}

.cidade {
    color: rgb(255, 255, 255);
    font-size: 2.0rem;
    font-style: italic;
    margin-bottom: 0 auto;
}

.graus{
    font-size: 16px;
    font-style: italic;
    color: rgb(0, 0, 0);
}


.sub-p {
    font-size: 11px;
    color: #ffffff;
    margin-bottom: 50px;
    line-height: 1px;
}

.graus{
    font-size: 18px;
    color:  rgb(102, 106, 107);
}

.sensacao {
    font-size: 13px;
    color:  rgb(102, 106, 107);
}

.umidade {
    font-size: 16px;
    color:  rgb(102, 106, 107);
}

.tempo {
    font-size: 13px;
    color:  rgb(102, 106, 107);
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
}

.container #sol {
    color: #ffffff;
    font-size: 32px;
}

.dados .btn-prev {
    width: 90vw;
    background: #ffffff;
    padding: 10px;
    border-radius: 20px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 13px;
    box-shadow: 5px 5px;
    margin-bottom: 20px;
}

.dados .btn-prev a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

.dados .btn-prev:hover {
    background: rgb(145, 145, 145);
}


}