@media (max-width:768px) {
    .container{
    width: 100%;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
    max-width: 550px;
    padding: 70px;
    border: none;
    padding: 50px 5%;
}

    .container h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #000000;
    font-size: 1.5em;
}

.container input[type="text"] {
    width: 80%;
    padding: 13px;
    border-radius: 20px;
    outline: none;
    margin-bottom: 5px;
    border: 0;
    background-color: #000000;

}

.container input[type="text"]::placeholder{
    color: #bebebe;
    font-size: 16px;

}

.dados {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#fff;
    border-radius: 15px;
    padding: 35px;
    color: #fff;
    font-style: italic;
    text-transform: capitalize;
    text-align: start;
    box-shadow: 5px 5px 5px 5px #cec7c7;
}

.container button { 
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    outline: none;
    border: 0;
    float:right;
    transition: 0.3s ease;
    width: 18%;
    margin-right: auto;
    background: #000;
}

.container button:hover{
    cursor: pointer;
}

i{
    font-size: 18px;
}

p{
    color: #000000;
    margin-bottom: 15px;
    font-style: italic;
}

.cidade {
    color: rgb(0, 0, 0);
    font-size: 2em;
}

.graus{
    font-size: 16px;
    font-style: italic;
    color: rgb(0, 0, 0);
}

.p-universal {
    width: 80vw;
    background: #000;
    padding: 8px;
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 11px;
}

.sub-p {
    font-size: 13px;
}

.sensacao {
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.umidade {
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.tempo {
    font-size: 1px;
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
}

body {
    overflow-y: hidden;
}

}