*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{
    background-color: #ffffff;
    overflow: hidden;
}

.sub-p{
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: #020202;
    margin-bottom:25px;
}

.container{
    width: 100%;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width:560px;
    padding: 90px;
    border-radius: 10px;
    border: 2px solid #000000;
    background: #fff;
}

header h2 {
    font-size:20px;
    margin-left: 20px;
    margin-top: 15px;
    color: #000000;
}

header #sol {
    font-size: 20px;
    margin-left: 5px;
    color: yellow;
}

.container input[type="text"] {
    width: 80%;
    padding: 14px;
    border-radius: 20px;
    outline: none;
    margin-bottom: 10px;
    border: 0;
    background-color: #000000;
    color: #ffffff;
    text-transform: capitalize;
}

.container input[type="text"]::placeholder{
    color: #bebebe;
    margin-right: 15px;
}

.dados {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#fff;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
    font-style: italic;
    text-transform: capitalize;
    box-shadow: 10px 10px 10px #969494;
}

.container button { 
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    outline: none;
    border: 0;
    float:right;
    transition: 0.3s ease;
    width: 15%;
    margin-right: 1px;
    background: #000000;
    color: #f2f2f2;
}

.container button:hover{
    cursor: pointer;
}

.graus{
    font-size: 18px;
    font-style: italic;
    color: rgb(0, 0, 0);
}

.sensacao {
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.umidade {
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.tempo {
    font-size: 11px;
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
}

img {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background: #757575;
}

p{
    margin-bottom: 5px;
    font-size: 15px;
    font-style: italic;
    color: #000000;
}

.cidade {
    color: #000000;
    font-size: 2.4rem;
}

h5 {
    text-align: center;
    margin: 15px auto;
    font-size: 11px;
    color: #000000;
    margin-bottom: 0;
}

i {
    font-size: 20px;
}