*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{
    background-color: #09b1db;
    overflow: hidden;
}

.container{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width:430px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    background: #09b1db;
}

.container h2 {
    text-align: center;
    font-size:2em;
    margin-left: 20px;
    margin-top: 15px;
    color: #ffffff;
}

.sub-p{
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: #ffffff;
    margin-bottom:15px;
}


.container #sol {
    font-size: 30px;
    margin-left: 5px;
    color: rgb(255, 255, 255);
}

.p-universal {
    width: 25vw;
    background: #ffffff;
    padding: 10px;
    border-radius: 20px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}


.container input[type="text"] {
    width: 80%;
    padding: 12px;
    border-radius: 20px;
    outline: none;
    border: 0;
    background-color: #ffffff;
    color: #414141;
    text-transform: capitalize;
    box-shadow: 4px 4px;
}

.container input[type="text"]::placeholder{
    color: #444444;
    margin-right: 15px;
}

.dados {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#09b1db;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
    font-style: italic;
    text-transform: capitalize;
}

.container button { 
    padding: 9px;
    margin-bottom: 15px;
    border-radius: 25px;
    outline: none;
    border: 0;
    float:right;
    transition: 0.3s ease;
    width: 15%;
    margin-right: 1px;
    background: #ffffff;
    color: #000000;
    box-shadow: 4px 4px;
}

.container button:hover{
    cursor: pointer;
}


.graus{
    font-size: 18px;
    font-style: italic;
    color: rgb(0, 0, 0);
}

.sensacao {
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.umidade {
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.tempo {
    font-size: 11px;
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
}

img {
    width: 28px;
    height: 28px;
    border-radius: 20px;
    
}

p{
    margin-bottom: 5px;
    font-size: 15px;
    font-style: italic;
    color: #ffffff;
}

.cidade {
    color: #ffffff;
    font-size: 2.4rem;
}

h5 {
    text-align: center;
    margin: 15px auto;
    font-size: 11px;
    color: #ffffff;
    margin-bottom: 0;
}

i {
    font-size: 20px;
}