*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{
    background-image: url("/imagers/ensolarado.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center center;
    animation-name: alter;
    animation: alter alternate-reverse infinite 5s ease-in-out;
    overflow: hidden;
}

.sub-p{
    text-align: center;
    font-size: 12px;
    font-style: italic;
    color: #f7f7f7;
    margin-bottom:10px;
}

@keyframes alter {
    25%{
        background-image: url("/imagers/ensolarado.jpg");
    }
    50%{
        background-image: url("/imagers/nublado.jpg");
    }
    100%{
        background-image: url("/imagers/chuva.jpg");
    }
}

.container{
    width: 100%;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width:560px;
    padding: 90px;
    border-radius: 10px;
    border: 2px solid #ddd;
}

.container h2 {
    font-size:36px;
    text-align: center;
    margin-bottom: 12px;
    color: #ffffff;
}

.container input[type="text"] {
    width: 80%;
    padding: 14px;
    border-radius: 20px;
    outline: none;
    margin-bottom: 5px;
    border: 0;
    background-color: #ffffff;
    color: #2c2c2c;
    text-transform: capitalize;
}

.container input[type="text"]::placeholder{
    color: #2c2c2c;
    margin-right: 15px;
}

.dados {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#292828;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
    font-style: italic;
    text-transform: capitalize;
}

.container button { 
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    outline: none;
    border: 0;
    float:right;
    transition: 0.3s ease;
    width: 15%;
    margin-right: 1px;
}

.container button:hover{
    cursor: pointer;
}

.graus{
    font-size: 18px;
    font-style: italic;
    color: rgb(255, 255, 255);
}

.sensacao {
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.umidade {
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.tempo {
    font-size: 11px;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
}

img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

p{
    margin-bottom: 5px;
    font-size: 15px;
    font-style: italic;
    color: #ffffff;
}

.cidade {
    color: #ffffff;
}

h5 {
    text-align: center;
    margin: 15px auto;
    font-size: 11px;
    color: #ffffff;
    margin-bottom: 0;
}

i {
    font-size: 20px;
}